<html>
  <head>
    <meta charset="utf-8">
    <style>
      body {
        font-family: helvetica, arial, monotype;
      }
    </style>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <a href="https://hl7webmaster.github.io/zulip-hl7-org/"><img src="http://www.hl7.org/assets/systemimages/hl7-logo-header.png" border="0"></a>
    <h2>Chat.HL7.org Zulip Archive</h2>
    <p><i>For questions about this archive, please contact <a href="mailto:webmaster@hl7.org;">webmaster@hl7.org</a></i>.</p>
    {{ content }}
  </body>
</html>
